/* 2/14 new style sheet */
/* Colors
#E0E1DD -> Platnium
#4B4E6D -> Independence (blue)
#00A676 -> Green munsell
#DBD3C9 -> timeberwolf
#F06449 -> orange soda
*/

.body_scheme {
  max-width: 32rem;
  margin-top: 1rem;
  color: #4B4E6D;
}

@media (min-width: 640px) {
  .body_scheme {
    max-width: 32rem;
    margin-top: 1rem;
    line-height: 1.625;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #4B4E6D;
    padding-bottom: 8px;
  }
}
.text_scheme_two {
  color: #4B4E6D;
  font-weight: 800;
  font-size: 1rem;
  line-height: 2.25rem; 
  padding-top: 4px;
  
}

@media (min-width: 640px) {
  .text_scheme_two {
    color: #4B4E6D;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1;
    padding-top: 4px;
  }
}

.text_scheme {
  color: #4B4E6D;
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.25rem; 
}

@media (min-width: 640px) {
  .text_scheme {
    color: #4B4E6D;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1;
  }
}

/* still need to config */
/* block w-full px-12 py-3 text-sm font-medium text-white rounded shadow bg-green-600 sm:w-auto active:bg-rose-500 hover:bg-rose-700 focus:outline-none focus:ring */
.get_started_btn {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}


.footer {
  --tw-gradient-stops: var(--tw-gradient-from), #4B4E6D, var(--tw-gradient-to, #4B4E6D);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  color: #E0E1DD;
  --tw-gradient-from: #4B4E6D;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, #DBD3C9);
  --tw-gradient-to: #F06449 ;
}

.header_style {
  color: #E0E1DD;
  background: #4B4E6D;
}

.header_aside {
  display: inline-flex;
  align-items: center;
  height: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #E0E1DD;
  background-color: #F06449;
}

@media (min-width: 640px) {
  .preview_aside {
    padding: 3rem;
    background-color: #DBD3C9;
    border-radius: 0.75rem;

  }
}

@media (min-width: 1024px) {
  .preview_aside {
    padding: 3rem;
    background-color: #DBD3C9;
    border-radius: 0.75rem;

  }
}

.preview_aside {
  padding: 3rem;
  background-color: #DBD3C9;
  border-radius: 0.75rem;
}

/* opacity not working  */
@media only screen and (min-width: 640px) {
  .border_gone {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    object-position: 25%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.border_gone {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  object-position: 75%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.60;
}

/* contact form */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 471px) {
  .form {
    background: white;
    padding: 2rem 1.5rem;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
}

@media screen and (max-width: 470px) {
  .form {
    background: white;
    padding: 2rem 1.5rem;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
  }
}

.form label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #334155;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  border: none;
  background: #f4f4f5;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 4px;
}
.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: 2px solid #0093e9;
}
.inputs {
  display: flex;
  justify-content: space-between;
}
.inputs div {
  flex: 1;
}
.inputs div:first-child {
  margin-right: 1rem;
}
.btn {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn_main {
  background-color: hsl(202, 100%, 46%);
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display:block;
}